* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    margin: 0px;
}

header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia;
    grid-row: 1 / 2;
    grid-column: 2 / 8;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url('images/utahtechlogo.svg');
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

nav {
    font-weight: bold;
    background-color: #424242;
    position: sticky;
    top: 0;
    grid-row: 2 / 3;
    grid-column: 2 / 8;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
    transition: background-color .5s ease-out;
}

nav a:hover {
    background-color: #BA1C21;
}

h2 {
    color: #424242;
    font-family: Georgia;
}

dt {
    color: #003058;
    font-weight: bold;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
    gap: .75rem;
    width: 100%;
}

input,
textarea {
    font-size: 1rem;
    padding: 10px;
    color: #666666;
    background-color: #fafafa;
    border: none;
}

textarea:focus {
    outline: none;
    background-color: #f0f0f0;
}

label {
    padding: 10px;
    text-align: right;
}

#mySubmit {
    width: 10rem;
    grid-column: 2 / 3;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-row: 5 / 6;
    grid-column: 2 / 8;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

h3 {
    color: #003058;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-row: 4 / 5;
    grid-column: 2 / 8;
    background-color: #FFFFFF;
}

main img {
    float: right;
    padding-left: 2rem;
}

#homehero {
    height: 300px;
    background-image: url('images/homehero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / 9;
}

#studenthero {
    height: 300px;
    background-image: url('images/studenthero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / 9;
}

#facultyhero {
    height: 300px;
    background-image: url('images/facultyhero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / 9;
}

#alumnihero {
    height: 300px;
    background-image: url('images/alumnihero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / 9;
}

#shophero {
    height: 300px;
    background-image: url('images/shophero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 1 / 9;
}

#bluebar {
    background-color: #003058;
    grid-row: 1 / 2;
    grid-column: 1 / 9;
}

#greybar {
    background-color: #424242;
    grid-row: 2 / 3;
    grid-column: 1 / 9;
}

table {
    margin: 0 auto;
    border: 1px solid #424242;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
    border: 1px solid #424242;
}

td {
    text-align: center;
}

.text {
    text-align: left;
}

tr:nth-of-type(2n+1) {
    background-color: #F3F3F3;
}

video {
    float: right;
    margin-left: 2em;
}

#shoppingcart img {
    width: 100%;
    height: auto;
}

#shoppingcart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1100px) {
    #wrapper {
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    nav {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        position: static;
    }

    nav ul {
        flex-flow: column nowrap;
    }

    #homehero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto;
    }

    #studenthero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto;
    }

    #facultyhero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto;
    }

    #alumnihero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto;
    }

    #shophero {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
        height: auto;
    }

    main img {
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0px;
    }

    video {
        float: none;
        margin: 0;
        width: 100%;
        height: auto;
    }

    #shoppingcart {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    header h1 {
        background-image: none;
        text-align: center;
    }

    nav {
        grid-row: 2 / 3;
        grid-column: 1 / 9;
    }

    #homehero {
        display: none;
    }

    #studenthero {
        display: none;
    }

    #facultyhero {
        display: none;
    }

    #alumnihero {
        display: none;
    }

    #shophero {
        display: none;
    }

    #shoppingcart {
        grid-template-columns: 1fr;
    }
}